
body {
  font-family: Arial, sans-serif;
  color: black;
  text-align: center;
  transition: all 0.3s ease;
}

h1 {
  padding-top: 20px;
}
#rickedex {
  margin-bottom: 20px;
}

img {
  width: 150px;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}


button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  font-weight: bold;
}

/* Tema claro */
.light {
  background-color: rgb(225, 241, 252);
  color: black;
}

.light #themeBtn {
  background-color: #f1f1f1;
  color: black;
}

/* Tema oscuro */
.dark {
  background-color: #1e1e1e;
  color: white;
}

.dark h4 {
  color: black;
}

.dark #themeBtn {
  background-color: #444;
  color: white;
}

.dark #searchBtn {
  background-color: #444;
  color: white;
}

.dark .card {
  background-color: rgb(206, 206, 205);
}

.dark li {
    background-color: rgb(206, 206, 205);
}




