
body {
  font-family: Arial, sans-serif;
  color: black;
  text-align: center;
  transition: all 0.3s ease;
}

h1 {
  padding-top: 20px;
}

#rickedex {
  margin-bottom: 20px;
}

img {
  width: 150px;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}


#searchBtn, #themeBtn {
  margin-top: 15px;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
}

.light {
  background-color: rgb(225, 241, 252);
  color: black;
}

/* Tema oscuro */
.dark {
  background-color: #1e1e1e;
  color: white;
}

.dark h4 {
  color: rgb(0, 0, 0);
}

.dark #themeBtn {
  background-color: #444;
  color: white;
}

.dark #searchBtn {
  background-color: #444;
  color: white;
}

.dark .card {
  background-color: rgb(206, 206, 205);
}

.dark li {
    background-color: rgb(206, 206, 205);
}




